---
layout: archive
title: "Research Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>My research lies at the intersection of international and comparative political economy, comparative politics, and political behaviour. In other words, I am mostly interested in how political decisions in electoral democracies impact economic outcomes and vice versa. Trained in both economics and politics in the midst of the Great Recession, I am especially interested in the politics of economic crises when existing theories about how the economy functions do not hold anymore. In order to study these extraordinary times, I combine both quantitative and qualitative methods eclectically. At the moment, I work on the following broad research projects:</p>

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

<h2>Other Work in Progress (selected):</h2>

<ul>
<li>"Juncker's curse? Identity, interest and public support for the integration of core state powers?" (with Philipp Genschel und Markus Jachtenfuchs)</li>
<li>"Public preferences towards social investment: Comparing patterns of support across three continents" </li>
<li>"Income, asset ownership, and preferences for redistribution: A comprehensive model" (with Andreas Winkler)</li>
<li>"Fiscal preferences and support for the welfare state (with Marius Busemeyer)"</li>
</ul>