---
layout: archive
title: "Research Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>My research lies at the intersection of political economy, comparative politics, and political sociology. In other words, I am interested in how decisions in democratic countries impact economic outcomes and vice versa. Trained in both economics and politics in the midst of the Great Recession, I am especially interested in the politics of economic crises when existing laws and theories about how the economy functions do not hold anymore. In order to study these extraordinary times, I combine both quantitative and qualitative methods eclectically. At the moment, I work on the following broad research projects:</p>

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

<br />

<h2>Other Work in Progress:</h2>

<ul>
<li>"Income, asset ownership, and preferences for redistribution: A comprehensive model" (with Andreas Winkler)</li>
<li>"Public preferences towards social investment: Comparing patterns of support across the world"</li>
<li>"European solidarity and core state powers in the European Union" (with Philipp Genschel und Markus Jachtenfuchs)</li>
<li>"Fiscal preferences and support for the welfare state* (with Marius Busemeyer)</li>
</ul>