---
layout: archive
title: "Research Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>My research lies at the intersection of international and comparative political economy, comparative politics, and political behaviour. In other words, I am mostly interested in how political decisions in electoral democracies impact economic outcomes and vice versa. Trained in both economics and politics in the midst of the Great Recession, I am especially interested in the politics of economic crises when existing theories about how the economy functions do not hold anymore. In order to study these extraordinary times, I combine both quantitative and qualitative methods eclectically. At the moment, I work on the following broad research projects:</p>

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}